/****** Object:  Table [dbo].[StateInfo]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StateInfo](
	[Program] [varchar](10) NOT NULL,
	[ItemGroup] [varchar](50) NOT NULL,
	[ItemCode] [varchar](50) NOT NULL,
	[ItemSubCode] [varchar](50) NOT NULL,
	[ItemValue] [varchar](max) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserId] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_StateInfo] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[ItemGroup] ASC,
	[ItemCode] ASC,
	[ItemSubCode] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[StateInfo] ([Program], [ItemGroup], [ItemCode], [ItemSubCode], [ItemValue], [AppliesToCode], [EffDate], [ExpDate], [UserId], [SystemTS]) VALUES (N'ALL', N'ALLOW', N'FeeViaPaymentPosting', N'LateFee', N'1', N'B', CAST(0x00009DE000000000 AS DateTime), CAST(0x00009E4700000000 AS DateTime), N'matt.price', CAST(0x00009DDF0115A014 AS DateTime))
INSERT [dbo].[StateInfo] ([Program], [ItemGroup], [ItemCode], [ItemSubCode], [ItemValue], [AppliesToCode], [EffDate], [ExpDate], [UserId], [SystemTS]) VALUES (N'ALL', N'ALLOW', N'FeeViaPaymentPosting', N'LateFee', N'0', N'B', CAST(0x00009E4700000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'shaun.herschbach', CAST(0x00009E47009DBE32 AS DateTime))
INSERT [dbo].[StateInfo] ([Program], [ItemGroup], [ItemCode], [ItemSubCode], [ItemValue], [AppliesToCode], [EffDate], [ExpDate], [UserId], [SystemTS]) VALUES (N'All', N'ALLOW', N'RECALC', N'POINTS', N'1', N'B', CAST(0x000098A900000000 AS DateTime), CAST(0x0000D76E00000000 AS DateTime), N'kevin.bowser', CAST(0x00009E9800B3F43D AS DateTime))
GO
