
/****** Object:  Table [dbo].[EditCode]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EditCode](
	[Program] [varchar](10) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[SubCategory] [varchar](50) NOT NULL,
	[EditCode] [varchar](50) NOT NULL,
	[EditValue] [nvarchar](50) NOT NULL,
	[EditDesc] [varchar](100) NOT NULL,
	[HighOrderDispl] [int] NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_EditCode] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[Category] ASC,
	[SubCategory] ASC,
	[EditCode] ASC,
	[EditValue] ASC,
	[EditDesc] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EditCode] ([Program], [Category], [SubCategory], [EditCode], [EditValue], [EditDesc], [HighOrderDispl], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'ALL', N'ALLOW', N'UWSYSTEM', N'BIND_RENEWAL', N'600', N'Allow binding of a renewal quote.', 0, N'B', CAST(0x00009CF100000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'dan.smith', CAST(0x00009ED8012975EA AS DateTime))
INSERT [dbo].[EditCode] ([Program], [Category], [SubCategory], [EditCode], [EditValue], [EditDesc], [HighOrderDispl], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'ALL', N'ALLOW', N'UWSYSTEM', N'CREATE_RENEWAL_EXPIRED', N'700', N'Allow generation of a new renewal quote for expired policies.', 0, N'B', CAST(0x00009CF100000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'dan.smith', CAST(0x00009E8300E19908 AS DateTime))
INSERT [dbo].[EditCode] ([Program], [Category], [SubCategory], [EditCode], [EditValue], [EditDesc], [HighOrderDispl], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'ALL', N'ALLOW', N'UWSYSTEM', N'DELETE_RENEWAL_EXPIRED', N'700', N'Delete (lose) a renewal quote for expired policies.', 0, N'B', CAST(0x00009CF100000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'dan.smith', CAST(0x00009E8300E19908 AS DateTime))
GO
