/****** Object:  Table [dbo].[FactorDriverAgePoints]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactorDriverAgePoints](
	[Program] [varchar](10) NOT NULL,
	[Coverage] [varchar](11) NOT NULL,
	[MinAge] [numeric](3, 0) NOT NULL,
	[MaxAge] [numeric](3, 0) NOT NULL,
	[MinPoints] [numeric](3, 0) NOT NULL,
	[MaxPoints] [numeric](3, 0) NOT NULL,
	[Factor] [decimal](9, 4) NOT NULL,
	[FactorType] [varchar](8) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_FactorDriverAgePoints] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[Coverage] ASC,
	[MinAge] ASC,
	[MaxAge] ASC,
	[MinPoints] ASC,
	[MaxPoints] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FactorDriverAgePoints] ([Program], [Coverage], [MinAge], [MaxAge], [MinPoints], [MaxPoints], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', N'BI', CAST(1 AS Numeric(3, 0)), CAST(19 AS Numeric(3, 0)), CAST(0 AS Numeric(3, 0)), CAST(1 AS Numeric(3, 0)), CAST(1.0000 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB480C AS DateTime))
INSERT [dbo].[FactorDriverAgePoints] ([Program], [Coverage], [MinAge], [MaxAge], [MinPoints], [MaxPoints], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', N'BI', CAST(1 AS Numeric(3, 0)), CAST(19 AS Numeric(3, 0)), CAST(1 AS Numeric(3, 0)), CAST(2 AS Numeric(3, 0)), CAST(1.0000 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB4938 AS DateTime))
INSERT [dbo].[FactorDriverAgePoints] ([Program], [Coverage], [MinAge], [MaxAge], [MinPoints], [MaxPoints], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', N'BI', CAST(1 AS Numeric(3, 0)), CAST(19 AS Numeric(3, 0)), CAST(2 AS Numeric(3, 0)), CAST(3 AS Numeric(3, 0)), CAST(1.0000 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB4938 AS DateTime))
GO
