
/****** Object:  Table [dbo].[CodeViolGroups]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CodeViolGroups](
	[Program] [varchar](10) NOT NULL,
	[ProgramCode] [varchar](50) NULL,
	[ViolGroup] [varchar](8) NOT NULL,
	[FirstOccurrence] [numeric](3, 0) NOT NULL,
	[SecondOccurrence] [numeric](3, 0) NOT NULL,
	[AddlOccurrence] [numeric](3, 0) NOT NULL,
	[MinAgeViol] [numeric](3, 0) NOT NULL,
	[MaxAgeViol] [numeric](3, 0) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_CodeViolGroups] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[ViolGroup] ASC,
	[MinAgeViol] ASC,
	[MaxAgeViol] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
) 

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CodeViolGroups] ([Program], [ProgramCode], [ViolGroup], [FirstOccurrence], [SecondOccurrence], [AddlOccurrence], [MinAgeViol], [MaxAgeViol], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'TAA', N'AFA', CAST(3 AS Numeric(3, 0)), CAST(3 AS Numeric(3, 0)), CAST(3 AS Numeric(3, 0)), CAST(0 AS Numeric(3, 0)), CAST(36 AS Numeric(3, 0)), N'B', CAST(0x00009BBF00000000 AS DateTime), CAST(0x00009D6900000000 AS DateTime), N'kevin.bowser', CAST(0x00009D580088F2FC AS DateTime))
INSERT [dbo].[CodeViolGroups] ([Program], [ProgramCode], [ViolGroup], [FirstOccurrence], [SecondOccurrence], [AddlOccurrence], [MinAgeViol], [MaxAgeViol], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'TAA', N'AFA', CAST(3 AS Numeric(3, 0)), CAST(3 AS Numeric(3, 0)), CAST(3 AS Numeric(3, 0)), CAST(0 AS Numeric(3, 0)), CAST(36 AS Numeric(3, 0)), N'B', CAST(0x00009D6900000000 AS DateTime), CAST(0x00009F0200000000 AS DateTime), N'kevin.bowser', CAST(0x00009D580088F2FC AS DateTime))
INSERT [dbo].[CodeViolGroups] ([Program], [ProgramCode], [ViolGroup], [FirstOccurrence], [SecondOccurrence], [AddlOccurrence], [MinAgeViol], [MaxAgeViol], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'TAA', N'AFA', CAST(5 AS Numeric(3, 0)), CAST(6 AS Numeric(3, 0)), CAST(3 AS Numeric(3, 0)), CAST(0 AS Numeric(3, 0)), CAST(36 AS Numeric(3, 0)), N'B', CAST(0x00009F0200000000 AS DateTime), CAST(0x00009FB100000000 AS DateTime), N'John.Robottom', CAST(0x00009FB0011DD3E0 AS DateTime))
