
/****** Object:  Table [dbo].[CodeUWTiers]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CodeUWTiers](
	[Program] [varchar](10) NOT NULL,
	[Tier] [varchar](3) NOT NULL,
	[PriorInsurance] [varchar](3) NOT NULL,
	[PriorLimits] [varchar](3) NOT NULL,
	[ContCov] [int] NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_CodeUWTiers] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[Tier] ASC,
	[PriorInsurance] ASC,
	[PriorLimits] ASC,
	[ContCov] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CodeUWTiers] ([Program], [Tier], [PriorInsurance], [PriorLimits], [ContCov], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'91', N'0', N'0', 0, N'B', CAST(0x00009BBF00000000 AS DateTime), CAST(0x00009D6900000000 AS DateTime), N'kevin.bowser', CAST(0x00009D580088EAC8 AS DateTime))
INSERT [dbo].[CodeUWTiers] ([Program], [Tier], [PriorInsurance], [PriorLimits], [ContCov], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'91', N'0', N'0', 0, N'B', CAST(0x00009D6900000000 AS DateTime), CAST(0x0000A33A00000000 AS DateTime), N'Emmer.Chavez', CAST(0x0000A33900F624E4 AS DateTime))
INSERT [dbo].[CodeUWTiers] ([Program], [Tier], [PriorInsurance], [PriorLimits], [ContCov], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'91', N'0', N'0', 0, N'B', CAST(0x0000A33A00000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'Emmer.Chavez', CAST(0x0000A33900F624E4 AS DateTime))
GO
