/****** Object:  Table [dbo].[PrintInfo2]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PrintInfo2](
	[Program] [varchar](10) NOT NULL,
	[PrintGroup] [varchar](50) NOT NULL,
	[PrintCode] [varchar](50) NOT NULL,
	[PrintSubCode] [varchar](50) NOT NULL,
	[PrintValue] [varchar](max) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL
CONSTRAINT [PK_PrintInfo2] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[PrintGroup] ASC,
	[PrintCode] ASC,
	[PrintSubCode] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON))

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PrintInfo2] ([Program], [PrintGroup], [PrintCode], [PrintSubCode], [PrintValue], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'PPA', N'CLASS', N'VERSION', N'Application', N'_3', N'B', CAST(0x00009C3900000000 AS DateTime), CAST(0x00009C6F00000000 AS DateTime), N'ves.garrett', CAST(0x00009C3900F03ED8 AS DateTime))
INSERT [dbo].[PrintInfo2] ([Program], [PrintGroup], [PrintCode], [PrintSubCode], [PrintValue], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'PPA', N'CLASS', N'ATTACHMENT_FORMNUMBER', N'DEC', N'TXPAP(02/06)', N'B', CAST(0x0000971D00000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'ves.garrett', CAST(0x00009C4F00FC5DFC AS DateTime))
INSERT [dbo].[PrintInfo2] ([Program], [PrintGroup], [PrintCode], [PrintSubCode], [PrintValue], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'PPA', N'CLASS', N'FORMNAME', N'NDEC', N'0512NDECTXV1.0', N'B', CAST(0x00009B4300000000 AS DateTime), CAST(0x00009F6F00000000 AS DateTime), N'ves.garrett', CAST(0x00009C500114A10D AS DateTime))
GO
