/****** Object:  Table [dbo].[FactorDriver]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactorDriver](
	[Program] [varchar](50) NOT NULL,
	[Coverage] [varchar](11) NOT NULL,
	[FactorCode] [varchar](20) NOT NULL,
	[Description] [varchar](75) NOT NULL,
	[AutoApply] [bit] NOT NULL,
	[Factor] [decimal](9, 4) NOT NULL,
	[FactorType] [varchar](8) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_FactorDriver] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[Coverage] ASC,
	[FactorCode] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FactorDriver] ([Program], [Coverage], [FactorCode], [Description], [AutoApply], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'BI', N'CLN_YOUTH', N'Clean Youthful Factor', 1, CAST(1.0192 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009C1B00000000 AS DateTime), CAST(0x00009D6900000000 AS DateTime), N'kevin.bowser', CAST(0x00009D580088D100 AS DateTime))
INSERT [dbo].[FactorDriver] ([Program], [Coverage], [FactorCode], [Description], [AutoApply], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'BI', N'CLN_YOUTH', N'Clean Youthful Factor', 1, CAST(1.0192 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009D6900000000 AS DateTime), CAST(0x00009E1000000000 AS DateTime), N'kevin.bowser', CAST(0x00009E1C0092F130 AS DateTime))
INSERT [dbo].[FactorDriver] ([Program], [Coverage], [FactorCode], [Description], [AutoApply], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'BI', N'CLN_YOUTH', N'Clean Youthful Factor', 1, CAST(1.0192 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009E1000000000 AS DateTime), CAST(0x00009FB100000000 AS DateTime), N'John.Robottom', CAST(0x00009FB0011DD188 AS DateTime))
GO
