/****** Object:  Table [dbo].[CodeCovCombo]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CodeCovCombo](
	[Program] [varchar](10) NOT NULL,
	[CovType] [varchar](10) NOT NULL,
	[CovCheck] [varchar](20) NOT NULL,
	[CovRequired] [varchar](20) NOT NULL,
	[RequireType] [varchar](1) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_CodeCovCombo] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[CovType] ASC,
	[CovCheck] ASC,
	[CovRequired] ASC,
	[RequireType] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CodeCovCombo] ([Program], [CovType], [CovCheck], [CovRequired], [RequireType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'CovCode', N'BI:25/50:L:P', N'PD:100:L:P', N'L', N'B', CAST(0x000098A900000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009DF30083DFFF AS DateTime))
INSERT [dbo].[CodeCovCombo] ([Program], [CovType], [CovCheck], [CovRequired], [RequireType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'CovCode', N'BI:25/50:L:P', N'PD:50:L:P', N'L', N'B', CAST(0x000098A900000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009DF30083DFFF AS DateTime))
INSERT [dbo].[CodeCovCombo] ([Program], [CovType], [CovCheck], [CovRequired], [RequireType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'CovCode', N'BI:25/50:L:P', N'UUMBI:100/300:L:P', N'L', N'B', CAST(0x000098A900000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009DF30084EE7D AS DateTime))
