/****** Object:  Table [dbo].[FactorTierMatrix]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactorTierMatrix](
	[Program] [varchar](10) NOT NULL,
	[Coverage] [varchar](11) NOT NULL,
	[CreditTier] [varchar](3) NOT NULL,
	[UWTier] [varchar](3) NOT NULL,
	[Factor] [decimal](9, 4) NOT NULL,
	[FactorType] [varchar](8) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_FactorTierMatrix] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[Coverage] ASC,
	[CreditTier] ASC,
	[UWTier] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON))

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FactorTierMatrix] ([Program], [Coverage], [CreditTier], [UWTier], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', N'BI', N'A', N'1', CAST(1.3134 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB75C0 AS DateTime))
INSERT [dbo].[FactorTierMatrix] ([Program], [Coverage], [CreditTier], [UWTier], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', N'BI', N'A', N'2', CAST(1.0600 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB8754 AS DateTime))
INSERT [dbo].[FactorTierMatrix] ([Program], [Coverage], [CreditTier], [UWTier], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', N'BI', N'A', N'3', CAST(1.0311 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB9B40 AS DateTime))
GO
