/****** Object:  Table [dbo].[RateOrder]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RateOrder](
	[Program] [varchar](10) NOT NULL,
	[FactorName] [varchar](20) NOT NULL,
	[FactorType] [varchar](8) NOT NULL,
	[FactorOrder] [int] NOT NULL,
	[RateOrder] [int] NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_RateOrder] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[FactorName] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON))

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[RateOrder] ([Program], [FactorName], [FactorType], [FactorOrder], [RateOrder], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'12RDC91', N'MidMult', 3, 26, N'B', CAST(0x0000A33A00000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'Emmer.Chavez', CAST(0x0000A33900F6D95C AS DateTime))
INSERT [dbo].[RateOrder] ([Program], [FactorName], [FactorType], [FactorOrder], [RateOrder], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'12RDC92', N'MidMult', 3, 32, N'B', CAST(0x0000A33A00000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'Emmer.Chavez', CAST(0x0000A33900F6D95C AS DateTime))
INSERT [dbo].[RateOrder] ([Program], [FactorName], [FactorType], [FactorOrder], [RateOrder], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'12RDC93', N'MidMult', 3, 38, N'B', CAST(0x0000A33A00000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'Emmer.Chavez', CAST(0x0000A33900F6D95C AS DateTime))
GO
