/****** Object:  Table [dbo].[FactorBaseRate]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactorBaseRate](
	[Program] [varchar](10) NOT NULL,
	[Coverage] [varchar](11) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Factor] [decimal](9, 4) NOT NULL,
	[FactorType] [varchar](8) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_FactorBaseRate] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[Coverage] ASC,
	[Description] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FactorBaseRate] ([Program], [Coverage], [Description], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'BI', N'Bodily Injury', CAST(107.0000 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009BBF00000000 AS DateTime), CAST(0x00009C6600000000 AS DateTime), N'kevin.bowser', CAST(0x00009C650111E5F8 AS DateTime))
INSERT [dbo].[FactorBaseRate] ([Program], [Coverage], [Description], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'BI', N'Bodily Injury', CAST(110.0000 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009C6600000000 AS DateTime), CAST(0x00009D6900000000 AS DateTime), N'kevin.bowser', CAST(0x00009D580088D100 AS DateTime))
INSERT [dbo].[FactorBaseRate] ([Program], [Coverage], [Description], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'BI', N'Bodily Injury', CAST(121.0000 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009D6900000000 AS DateTime), CAST(0x00009E1B00000000 AS DateTime), N'kevin.bowser', CAST(0x00009E1700A63920 AS DateTime))
GO
