/****** Object:  Table [dbo].[FactorPolicy]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactorPolicy](
	[Program] [varchar](10) NOT NULL,
	[Coverage] [varchar](11) NOT NULL,
	[FactorCode] [varchar](20) NOT NULL,
	[Description] [varchar](75) NOT NULL,
	[AutoApply] [bit] NOT NULL,
	[Factor] [decimal](9, 4) NOT NULL,
	[FactorType] [varchar](8) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_FactorPolicy] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[Coverage] ASC,
	[FactorCode] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON))

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FactorPolicy] ([Program], [Coverage], [FactorCode], [Description], [AutoApply], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'BI', N'12RDC91', N'Renewal Discount RDC 91_12', 1, CAST(0.8420 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x0000A33A00000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'Emmer.Chavez', CAST(0x0000A33900F5751C AS DateTime))
INSERT [dbo].[FactorPolicy] ([Program], [Coverage], [FactorCode], [Description], [AutoApply], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'BI', N'12RDC92', N'Renewal Discount RDC 92_12', 1, CAST(0.9410 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x0000A33A00000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'Emmer.Chavez', CAST(0x0000A33900F57648 AS DateTime))
INSERT [dbo].[FactorPolicy] ([Program], [Coverage], [FactorCode], [Description], [AutoApply], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'BI', N'12RDC93', N'Renewal Discount RDC 93_12', 1, CAST(0.9650 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x0000A33A00000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'Emmer.Chavez', CAST(0x0000A33900F578A0 AS DateTime))
GO
