/****** Object:  Table [dbo].[CodeCreditTiers]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CodeCreditTiers](
	[Program] [varchar](10) NOT NULL,
	[MinScore] [numeric](3, 0) NOT NULL,
	[MaxScore] [numeric](3, 0) NOT NULL,
	[AgeStart] [numeric](3, 0) NOT NULL,
	[AgeEnd] [numeric](3, 0) NOT NULL,
	[CreditTier] [varchar](3) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_CodeCreditTiers] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[MinScore] ASC,
	[MaxScore] ASC,
	[AgeStart] ASC,
	[AgeEnd] ASC,
	[CreditTier] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CodeCreditTiers] ([Program], [MinScore], [MaxScore], [AgeStart], [AgeEnd], [CreditTier], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', CAST(0 AS Numeric(3, 0)), CAST(0 AS Numeric(3, 0)), CAST(0 AS Numeric(3, 0)), CAST(199 AS Numeric(3, 0)), N'U5', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB4938 AS DateTime))
INSERT [dbo].[CodeCreditTiers] ([Program], [MinScore], [MaxScore], [AgeStart], [AgeEnd], [CreditTier], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', CAST(150 AS Numeric(3, 0)), CAST(659 AS Numeric(3, 0)), CAST(0 AS Numeric(3, 0)), CAST(199 AS Numeric(3, 0)), N'S', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB4938 AS DateTime))
INSERT [dbo].[CodeCreditTiers] ([Program], [MinScore], [MaxScore], [AgeStart], [AgeEnd], [CreditTier], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', CAST(660 AS Numeric(3, 0)), CAST(715 AS Numeric(3, 0)), CAST(0 AS Numeric(3, 0)), CAST(199 AS Numeric(3, 0)), N'R', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB4938 AS DateTime))
