/****** Object:  Table [dbo].[FactorDiscount]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactorDiscount](
	[Program] [varchar](50) NOT NULL,
	[Coverage] [varchar](11) NOT NULL,
	[FactorCode] [varchar](20) NOT NULL,
	[Description] [varchar](75) NOT NULL,
	[AutoApply] [bit] NOT NULL,
	[Factor] [decimal](9, 4) NOT NULL,
	[FactorType] [varchar](8) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_FactorDiscount] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[Coverage] ASC,
	[FactorCode] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FactorDiscount] ([Program], [Coverage], [FactorCode], [Description], [AutoApply], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', N'BI', N'ADV_QUOTE', N'Advanced Quote Discount', 1, CAST(0.9600 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB5F7C AS DateTime))
INSERT [dbo].[FactorDiscount] ([Program], [Coverage], [FactorCode], [Description], [AutoApply], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', N'BI', N'ANTI_THEFT ', N'Theft Discount', 0, CAST(1.0000 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB67B0 AS DateTime))
INSERT [dbo].[FactorDiscount] ([Program], [Coverage], [FactorCode], [Description], [AutoApply], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', N'BI', N'BUS_USE', N'Business Use Surcharge', 0, CAST(1.2000 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB6558 AS DateTime))
GO
