
/****** Object:  Table [dbo].[CodeViolCodes]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CodeViolCodes](
	[Program] [varchar](10) NOT NULL,
	[ProgramCode] [varchar](50) NULL,
	[ViolGroup] [varchar](10) NOT NULL,
	[ViolCode] [varchar](10) NOT NULL,
	[Description] [varchar](75) NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NULL,
	[SystemTS] [datetime] NULL,
	[ViolType] [varchar](10) NULL,
 CONSTRAINT [PK_CodeViolCodes] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[ViolGroup] ASC,
	[ViolCode] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
) 

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CodeViolCodes] ([Program], [ProgramCode], [ViolGroup], [ViolCode], [Description], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS], [ViolType]) VALUES (N'Classic', N'TAA', N'AFA', N'41000', N'ACCIDENT', N'B', CAST(0x00009D6900000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009E6201765164 AS DateTime), N'V')
INSERT [dbo].[CodeViolCodes] ([Program], [ProgramCode], [ViolGroup], [ViolCode], [Description], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS], [ViolType]) VALUES (N'Classic', N'TAA', N'AFA', N'41210', N'DRIVER IN PERSONAL INJURY/DEATH ACCIDENT', N'B', CAST(0x00009D6900000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009E6201765164 AS DateTime), N'V')
INSERT [dbo].[CodeViolCodes] ([Program], [ProgramCode], [ViolGroup], [ViolCode], [Description], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS], [ViolType]) VALUES (N'Classic', N'TAA', N'AFA', N'41211', N'FATAL ACCIDENT-NON EMERGENT (NJ ONLY)', N'B', CAST(0x00009D6900000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009E6201765164 AS DateTime), N'V')
GO
