/****** Object:  Table [dbo].[FactorDriverPoints]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactorDriverPoints](
	[Program] [varchar](10) NOT NULL,
	[Coverage] [varchar](11) NOT NULL,
	[Points] [varchar](2) NOT NULL,
	[Factor] [decimal](9, 4) NOT NULL,
	[FactorType] [varchar](8) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_FactorDriverPoints] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[Coverage] ASC,
	[Points] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FactorDriverPoints] ([Program], [Coverage], [Points], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'BI', N'0', CAST(1.9459 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009BBF00000000 AS DateTime), CAST(0x00009F0200000000 AS DateTime), N'kevin.bowser', CAST(0x00009F01012B3418 AS DateTime))
INSERT [dbo].[FactorDriverPoints] ([Program], [Coverage], [Points], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'BI', N'0', CAST(1.0000 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009F0200000000 AS DateTime), CAST(0x00009FB100000000 AS DateTime), N'John.Robottom', CAST(0x00009FB0011DD2B4 AS DateTime))
INSERT [dbo].[FactorDriverPoints] ([Program], [Coverage], [Points], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Classic', N'BI', N'0', CAST(1.0000 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009FB100000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'John.Robottom', CAST(0x00009FB0011DD2B4 AS DateTime))
GO
