/****** Object:  Table [dbo].[FactorHouseholdStructure]    Script Date: 7/26/2014 4:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactorHouseholdStructure](
	[Program] [varchar](10) NOT NULL,
	[Coverage] [varchar](11) NOT NULL,
	[MultiCar] [varchar](1) NOT NULL,
	[MaritalStatus] [varchar](1) NOT NULL,
	[Youthful] [varchar](1) NOT NULL,
	[HomeOwner] [varchar](1) NOT NULL,
	[PCRelationship] [varchar](1) NOT NULL,
	[Factor] [decimal](9, 4) NOT NULL,
	[FactorType] [varchar](8) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_FactorHouseholdStructure] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[Coverage] ASC,
	[MultiCar] ASC,
	[MaritalStatus] ASC,
	[Youthful] ASC,
	[HomeOwner] ASC,
	[PCRelationship] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FactorHouseholdStructure] ([Program], [Coverage], [MultiCar], [MaritalStatus], [Youthful], [HomeOwner], [PCRelationship], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', N'BI', N'N', N'M', N'N', N'N', N'N', CAST(1.0500 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB6C60 AS DateTime))
INSERT [dbo].[FactorHouseholdStructure] ([Program], [Coverage], [MultiCar], [MaritalStatus], [Youthful], [HomeOwner], [PCRelationship], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', N'BI', N'N', N'M', N'N', N'N', N'Y', CAST(1.0500 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB6B34 AS DateTime))
INSERT [dbo].[FactorHouseholdStructure] ([Program], [Coverage], [MultiCar], [MaritalStatus], [Youthful], [HomeOwner], [PCRelationship], [Factor], [FactorType], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'Summit', N'BI', N'N', N'M', N'N', N'Y', N'N', CAST(1.0500 AS Decimal(9, 4)), N'MidMult', N'B', CAST(0x00009B8400000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.bowser', CAST(0x00009D9E00AB6A08 AS DateTime))
GO
