USE [pgmMaster]
GO
/****** Object:  Table [dbo].[XRefSystemCodes]    Script Date: 7/27/2014 4:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XRefSystemCodes](
	[CovCode] [numeric](18, 0) NOT NULL,
	[SourceSystemCode] [char](10) NOT NULL,
	[SourceCovCode] [char](30) NOT NULL,
	[InsertDT] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_XRefSystemCodes] PRIMARY KEY CLUSTERED 
(
	[CovCode] ASC,
	[SourceSystemCode] ASC,
	[SourceCovCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[XRefSystemCodes] ([CovCode], [SourceSystemCode], [SourceCovCode], [InsertDT]) VALUES (CAST(1010020 AS Numeric(18, 0)), N'IMC       ', N'82                            ', CAST(0x9BC90000 AS SmallDateTime))
INSERT [dbo].[XRefSystemCodes] ([CovCode], [SourceSystemCode], [SourceCovCode], [InsertDT]) VALUES (CAST(1010020 AS Numeric(18, 0)), N'PAS       ', N'ADI                           ', CAST(0x9B8B02A9 AS SmallDateTime))
INSERT [dbo].[XRefSystemCodes] ([CovCode], [SourceSystemCode], [SourceCovCode], [InsertDT]) VALUES (CAST(1010030 AS Numeric(18, 0)), N'IMC       ', N'60                            ', CAST(0x9BC90000 AS SmallDateTime))
GO
