USE [pgmMaster]
GO
/****** Object:  Table [dbo].[PgmCovDetail_Master]    Script Date: 7/27/2014 4:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PgmCovDetail_Master](
	[CovCode] [numeric](18, 0) NOT NULL,
	[CovGroup] [nvarchar](50) NOT NULL,
	[CovName] [varchar](100) NOT NULL,
	[UnitLimit] [numeric](18, 0) NULL,
	[LineLimit] [numeric](18, 0) NULL,
	[Deductible1] [numeric](18, 0) NULL,
	[Deductible2] [numeric](18, 0) NULL,
	[ShiftType] [varchar](5) NULL,
	[LowerRange] [numeric](18, 0) NULL,
	[UpperRange] [numeric](18, 0) NULL,
	[LowOrderDispl] [numeric](18, 0) NOT NULL,
	[HighOrderDispl] [numeric](18, 0) NOT NULL,
	[ShortDesc] [varchar](100) NOT NULL,
	[Desc1] [varchar](100) NULL,
	[Desc2] [varchar](100) NULL,
	[PolicyLevel] [bit] NOT NULL,
	[InsertDT] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_MasterPgmCovDetail_1] PRIMARY KEY CLUSTERED 
(
	[CovCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PgmCovDetail_Master] ([CovCode], [CovGroup], [CovName], [UnitLimit], [LineLimit], [Deductible1], [Deductible2], [ShiftType], [LowerRange], [UpperRange], [LowOrderDispl], [HighOrderDispl], [ShortDesc], [Desc1], [Desc2], [PolicyLevel], [InsertDT]) VALUES (CAST(1010020 AS Numeric(18, 0)), N'ADI', N'Accidental Death', CAST(250 AS Numeric(18, 0)), NULL, NULL, NULL, N'S', NULL, NULL, CAST(1000 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), N'250', N'', N'', 0, CAST(0x9CE10441 AS SmallDateTime))
INSERT [dbo].[PgmCovDetail_Master] ([CovCode], [CovGroup], [CovName], [UnitLimit], [LineLimit], [Deductible1], [Deductible2], [ShiftType], [LowerRange], [UpperRange], [LowOrderDispl], [HighOrderDispl], [ShortDesc], [Desc1], [Desc2], [PolicyLevel], [InsertDT]) VALUES (CAST(1010030 AS Numeric(18, 0)), N'ADI', N'Accidental Death', CAST(500 AS Numeric(18, 0)), NULL, NULL, NULL, N'S', NULL, NULL, CAST(1000 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), N'500', N'', N'', 0, CAST(0x9CE10441 AS SmallDateTime))
INSERT [dbo].[PgmCovDetail_Master] ([CovCode], [CovGroup], [CovName], [UnitLimit], [LineLimit], [Deductible1], [Deductible2], [ShiftType], [LowerRange], [UpperRange], [LowOrderDispl], [HighOrderDispl], [ShortDesc], [Desc1], [Desc2], [PolicyLevel], [InsertDT]) VALUES (CAST(1010040 AS Numeric(18, 0)), N'ADI', N'Accidental Death', CAST(750 AS Numeric(18, 0)), NULL, NULL, NULL, N'S', NULL, NULL, CAST(1000 AS Numeric(18, 0)), CAST(30 AS Numeric(18, 0)), N'750', N'', N'', 0, CAST(0x9CE10441 AS SmallDateTime))
GO
