USE [pgmMaster]
GO
/****** Object:  Table [dbo].[PgmCovDetail_HOM]    Script Date: 7/27/2014 4:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PgmCovDetail_HOM](
	[CovCode] [numeric](18, 0) NOT NULL,
	[CovGroup] [nvarchar](50) NOT NULL,
	[CovName] [varchar](100) NOT NULL,
	[UnitLimit] [numeric](18, 0) NULL,
	[LineLimit] [numeric](18, 0) NULL,
	[Deductible] [numeric](18, 0) NULL,
	[Deductible2] [numeric](18, 0) NULL,
	[LowerRange] [numeric](18, 0) NULL,
	[UpperRange] [numeric](18, 0) NULL,
	[LowOrderDispl] [numeric](18, 0) NOT NULL,
	[HighOrderDispl] [numeric](18, 0) NOT NULL,
	[ShortDesc] [varchar](100) NOT NULL,
	[Desc1] [varchar](50) NULL,
	[Desc2] [varchar](50) NULL,
	[PolicyLevel] [bit] NOT NULL,
	[InsertDT] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_HOMPgmCovDetail_1] PRIMARY KEY CLUSTERED 
(
	[CovCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PgmCovDetail_HOM] ([CovCode], [CovGroup], [CovName], [UnitLimit], [LineLimit], [Deductible], [Deductible2], [LowerRange], [UpperRange], [LowOrderDispl], [HighOrderDispl], [ShortDesc], [Desc1], [Desc2], [PolicyLevel], [InsertDT]) VALUES (CAST(1180010 AS Numeric(18, 0)), N'AEC', N'Additional Extended Coverage - Contents', NULL, NULL, NULL, NULL, NULL, NULL, CAST(1000 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), N'Additional Extended Coverage - Contents', N'', N'', 1, CAST(0x9B8B028F AS SmallDateTime))
INSERT [dbo].[PgmCovDetail_HOM] ([CovCode], [CovGroup], [CovName], [UnitLimit], [LineLimit], [Deductible], [Deductible2], [LowerRange], [UpperRange], [LowOrderDispl], [HighOrderDispl], [ShortDesc], [Desc1], [Desc2], [PolicyLevel], [InsertDT]) VALUES (CAST(1180020 AS Numeric(18, 0)), N'ACC', N'Additional Extended Coverage - Contents', NULL, NULL, NULL, NULL, NULL, NULL, CAST(1000 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), N'Additional Extended Coverage - Contents', N'', N'', 1, CAST(0x9B8B028F AS SmallDateTime))
INSERT [dbo].[PgmCovDetail_HOM] ([CovCode], [CovGroup], [CovName], [UnitLimit], [LineLimit], [Deductible], [Deductible2], [LowerRange], [UpperRange], [LowOrderDispl], [HighOrderDispl], [ShortDesc], [Desc1], [Desc2], [PolicyLevel], [InsertDT]) VALUES (CAST(1180030 AS Numeric(18, 0)), N'AED', N'Additional Extended Coverage - Dwelling', NULL, NULL, NULL, NULL, NULL, NULL, CAST(1000 AS Numeric(18, 0)), CAST(30 AS Numeric(18, 0)), N'Additional Extended Coverage - Dwelling', N'', N'', 1, CAST(0x9B8B028F AS SmallDateTime))
GO
