USE [Common]
GO
/****** Object:  Table [dbo].[BankInfo]    Script Date: 7/29/2014 2:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BankInfo](
	[NACHAFileCode] [varchar](20) NOT NULL,
	[Product] [numeric](18, 0) NULL,
	[StateCode] [varchar](2) NULL,
	[ProgramCode] [varchar](50) NULL,
	[CompanyCode] [varchar](50) NULL,
	[CompanyName] [varchar](50) NULL,
	[TaxID] [varchar](20) NULL,
	[DebitAcctNumber] [varchar](50) NULL,
	[DebitRoutingNumber] [varchar](11) NULL,
	[DestinationCode] [varchar](50) NULL,
	[DestinationName] [varchar](50) NULL,
	[OriginationCode] [varchar](50) NULL,
	[OriginatingBank] [varchar](50) NULL,
	[OriginationName] [varchar](50) NULL,
	[EffDate] [datetime] NULL,
	[ExpDate] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BankInfo] ([NACHAFileCode], [Product], [StateCode], [ProgramCode], [CompanyCode], [CompanyName], [TaxID], [DebitAcctNumber], [DebitRoutingNumber], [DestinationCode], [DestinationName], [OriginationCode], [OriginatingBank], [OriginationName], [EffDate], [ExpDate]) VALUES (N'IFDM', CAST(2 AS Numeric(18, 0)), N'17', N'IFDM', N'IF', N'IMPERIAL FIRE', N'721171736 ', N'1102176395', N'065400137', N'065400137', N'CHASE', N'9000007557', N'06540013', N'IMPERIAL FIRE', NULL, NULL)
INSERT [dbo].[BankInfo] ([NACHAFileCode], [Product], [StateCode], [ProgramCode], [CompanyCode], [CompanyName], [TaxID], [DebitAcctNumber], [DebitRoutingNumber], [DestinationCode], [DestinationName], [OriginationCode], [OriginatingBank], [OriginationName], [EffDate], [ExpDate]) VALUES (N'SUMM', CAST(2 AS Numeric(18, 0)), N'17', N'LAC', N'IF', N'IMPERIAL FIRE', N'721171736 ', N'8701923781', N'065400137', N'065400137', N'CHASE', N'9000007557', N'06540013', N'IMPERIAL FIRE', NULL, NULL)
INSERT [dbo].[BankInfo] ([NACHAFileCode], [Product], [StateCode], [ProgramCode], [CompanyCode], [CompanyName], [TaxID], [DebitAcctNumber], [DebitRoutingNumber], [DestinationCode], [DestinationName], [OriginationCode], [OriginatingBank], [OriginationName], [EffDate], [ExpDate]) VALUES (N'CHASESUMM', CAST(2 AS Numeric(18, 0)), N'42', N'TX6', N'IF', N'IMPERIAL FIRE', N'721171736', N'707597720', N'065400137', N'065400137', N'CHASE', N'9000007557', N'06540013', N'IMPERIAL FIRE', NULL, NULL)
