
/****** Object:  Table [dbo].[RatingRules]    Script Date: 7/29/2014 2:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RatingRules](
	[ID] [int] NOT NULL,
	[Product] [int] NOT NULL,
	[CallingSystem] [varchar](50) NOT NULL,
	[RuleType] [varchar](50) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[Program] [varchar](50) NOT NULL,
	[FunctionName] [varchar](50) NOT NULL,
	[SubType] [varchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[OrderNumber] [int] NOT NULL,
 CONSTRAINT [PK_RatingRules] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[RatingRules] ([ID], [Product], [CallingSystem], [RuleType], [State], [Program], [FunctionName], [SubType], [Status], [EffDate], [ExpDate], [OrderNumber]) VALUES (1001, 1, N'ALL', N'IER', N'ALL', N'ALL', N'CheckTropicalStorm', N'POLICY', 1, CAST(0x00009A1600000000 AS DateTime), CAST(0x0000D76E00000000 AS DateTime), 1001)
INSERT [dbo].[RatingRules] ([ID], [Product], [CallingSystem], [RuleType], [State], [Program], [FunctionName], [SubType], [Status], [EffDate], [ExpDate], [OrderNumber]) VALUES (1002, 1, N'WEBRATER', N'IER', N'ALL', N'ALL', N'CheckCitizensDisabledZip', N'POLICY', 1, CAST(0x00009A1600000000 AS DateTime), CAST(0x00009CAA00000000 AS DateTime), 1002)
INSERT [dbo].[RatingRules] ([ID], [Product], [CallingSystem], [RuleType], [State], [Program], [FunctionName], [SubType], [Status], [EffDate], [ExpDate], [OrderNumber]) VALUES (1003, 1, N'WEBRATER', N'IER', N'ALL', N'ALL', N'CheckEffectiveDate', N'POLICY', 1, CAST(0x00009A1600000000 AS DateTime), CAST(0x0000D76E00000000 AS DateTime), 1003)
GO
