USE [Common]
GO
/****** Object:  Table [dbo].[RateRevision]    Script Date: 7/29/2014 2:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RateRevision](
	[CompanyCode] [varchar](50) NULL,
	[PASProgramCode] [varchar](50) NULL,
	[WRProgramCode] [varchar](50) NULL,
	[AppliesToCode] [varchar](1) NULL,
	[RateLoadDate] [datetime] NULL,
	[TermEffDate] [datetime] NULL,
	[RateRevisionID] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[RateRevision] ([CompanyCode], [PASProgramCode], [WRProgramCode], [AppliesToCode], [RateLoadDate], [TermEffDate], [RateRevisionID]) VALUES (N'IF', N'HOA', N'HOA', N'N', CAST(0x00009D4100000000 AS DateTime), CAST(0x00009D4B00000000 AS DateTime), CAST(0x00009D4B00000000 AS DateTime))
INSERT [dbo].[RateRevision] ([CompanyCode], [PASProgramCode], [WRProgramCode], [AppliesToCode], [RateLoadDate], [TermEffDate], [RateRevisionID]) VALUES (N'IF', N'HOA', N'HOA', N'R', CAST(0x00009D4100000000 AS DateTime), CAST(0x00009D7700000000 AS DateTime), CAST(0x00009D4B00000000 AS DateTime))
INSERT [dbo].[RateRevision] ([CompanyCode], [PASProgramCode], [WRProgramCode], [AppliesToCode], [RateLoadDate], [TermEffDate], [RateRevisionID]) VALUES (N'IF', N'HOB', N'HOB', N'N', CAST(0x00009D4100000000 AS DateTime), CAST(0x00009D4B00000000 AS DateTime), CAST(0x00009D4B00000000 AS DateTime))
GO
