USE [Common]
GO
/****** Object:  Table [dbo].[ReleaseRevisionDate]    Script Date: 7/29/2014 2:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReleaseRevisionDate](
	[WRProgram] [varchar](20) NULL,
	[PASProgram] [varchar](20) NULL,
	[RateRevisionEffDate] [datetime] NULL,
	[NewBusinessEffDate] [datetime] NULL,
	[NewBusinessExpDate] [datetime] NULL,
	[RenBusinessEffDate] [datetime] NULL,
	[RenBusinessExpDate] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ReleaseRevisionDate] ([WRProgram], [PASProgram], [RateRevisionEffDate], [NewBusinessEffDate], [NewBusinessExpDate], [RenBusinessEffDate], [RenBusinessExpDate]) VALUES (N'Summit', N'LA6', CAST(0x00009B1A00000000 AS DateTime), CAST(0x00009B1A00000000 AS DateTime), CAST(0x00009BFA00000000 AS DateTime), CAST(0x00009B3900000000 AS DateTime), CAST(0x00009C1900000000 AS DateTime))
INSERT [dbo].[ReleaseRevisionDate] ([WRProgram], [PASProgram], [RateRevisionEffDate], [NewBusinessEffDate], [NewBusinessExpDate], [RenBusinessEffDate], [RenBusinessExpDate]) VALUES (N'Summit', N'LA6', CAST(0x00009BFA00000000 AS DateTime), CAST(0x00009BFA00000000 AS DateTime), CAST(0x00009C9500000000 AS DateTime), CAST(0x00009C1900000000 AS DateTime), CAST(0x00009CA900000000 AS DateTime))
INSERT [dbo].[ReleaseRevisionDate] ([WRProgram], [PASProgram], [RateRevisionEffDate], [NewBusinessEffDate], [NewBusinessExpDate], [RenBusinessEffDate], [RenBusinessExpDate]) VALUES (N'Classic', N'LAC', CAST(0x00009B1A00000000 AS DateTime), CAST(0x00009B1A00000000 AS DateTime), CAST(0x00009C6600000000 AS DateTime), CAST(0x00009B1A00000000 AS DateTime), CAST(0x00009C7A00000000 AS DateTime))
