USE [Common]
GO
/****** Object:  Table [dbo].[NewPolicyControlLog]    Script Date: 7/27/2014 2:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewPolicyControlLog](
	[RunDate] [datetime] NULL,
	[LastID] [numeric](18, 0) NULL
) ON [PRIMARY]

GO
