USE [Common]
GO
/****** Object:  Table [dbo].[CompanyAccountingPeriod]    Script Date: 7/27/2014 2:29:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyAccountingPeriod](
	[AccountingGroupCode] [char](3) NOT NULL,
	[AccountingPeriodNum] [numeric](6, 0) NOT NULL,
	[PeriodStartDate] [datetime] NULL,
	[PeriodEndDate] [datetime] NULL,
	[PMPeriodClosedYN] [bit] NULL,
	[ABPeriodClosedYN] [bit] NULL,
	[DBPeriodClosedYN] [bit] NULL,
	[MGAPeriodClosedYN] [bit] NULL,
	[ClaimPeriodClosedYN] [bit] NULL,
	[AddedDateT] [datetime] NULL,
	[AddedUserCode] [char](30) NULL,
	[LastUpdatedUserCode] [char](30) NULL,
	[LastUpdatedDateT] [datetime] NULL,
	[InUseYN] [bit] NULL,
 CONSTRAINT [PK_CompanyAccountingPeriod] PRIMARY KEY CLUSTERED 
(
	[AccountingGroupCode] ASC,
	[AccountingPeriodNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CompanyAccountingPeriod] ([AccountingGroupCode], [AccountingPeriodNum], [PeriodStartDate], [PeriodEndDate], [PMPeriodClosedYN], [ABPeriodClosedYN], [DBPeriodClosedYN], [MGAPeriodClosedYN], [ClaimPeriodClosedYN], [AddedDateT], [AddedUserCode], [LastUpdatedUserCode], [LastUpdatedDateT], [InUseYN]) VALUES (N'EOM', CAST(199001 AS Numeric(6, 0)), CAST(0x0000806800000000 AS DateTime), CAST(0x0000808600000000 AS DateTime), 1, 1, 1, 1, 1, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[CompanyAccountingPeriod] ([AccountingGroupCode], [AccountingPeriodNum], [PeriodStartDate], [PeriodEndDate], [PMPeriodClosedYN], [ABPeriodClosedYN], [DBPeriodClosedYN], [MGAPeriodClosedYN], [ClaimPeriodClosedYN], [AddedDateT], [AddedUserCode], [LastUpdatedUserCode], [LastUpdatedDateT], [InUseYN]) VALUES (N'EOM', CAST(199002 AS Numeric(6, 0)), CAST(0x0000808700000000 AS DateTime), CAST(0x000080A200000000 AS DateTime), 1, 1, 1, 1, 1, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[CompanyAccountingPeriod] ([AccountingGroupCode], [AccountingPeriodNum], [PeriodStartDate], [PeriodEndDate], [PMPeriodClosedYN], [ABPeriodClosedYN], [DBPeriodClosedYN], [MGAPeriodClosedYN], [ClaimPeriodClosedYN], [AddedDateT], [AddedUserCode], [LastUpdatedUserCode], [LastUpdatedDateT], [InUseYN]) VALUES (N'EOM', CAST(199003 AS Numeric(6, 0)), CAST(0x000080A300000000 AS DateTime), CAST(0x000080C100000000 AS DateTime), 1, 1, 1, 1, 1, NULL, NULL, NULL, NULL, 0)
GO
ALTER TABLE [dbo].[CompanyAccountingPeriod] ADD  DEFAULT (0) FOR [PMPeriodClosedYN]
GO
ALTER TABLE [dbo].[CompanyAccountingPeriod] ADD  DEFAULT (0) FOR [ABPeriodClosedYN]
GO
ALTER TABLE [dbo].[CompanyAccountingPeriod] ADD  DEFAULT (0) FOR [DBPeriodClosedYN]
GO
ALTER TABLE [dbo].[CompanyAccountingPeriod] ADD  DEFAULT (0) FOR [MGAPeriodClosedYN]
GO
ALTER TABLE [dbo].[CompanyAccountingPeriod] ADD  DEFAULT (0) FOR [ClaimPeriodClosedYN]
GO
ALTER TABLE [dbo].[CompanyAccountingPeriod] ADD  DEFAULT (0) FOR [InUseYN]
GO
