USE [Common]
GO
/****** Object:  Table [dbo].[County]    Script Date: 7/27/2014 2:29:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[County](
	[StateCode] [char](3) NOT NULL,
	[CountyCode] [char](3) NOT NULL,
	[CountyName] [varchar](90) NULL,
	[AddedDateT] [datetime] NULL,
	[AddedUserCode] [char](30) NULL,
	[LastUpdatedDateT] [datetime] NULL,
	[LastUpdatedUserCode] [char](30) NULL,
 CONSTRAINT [PK_County] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC,
	[CountyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[County] ([StateCode], [CountyCode], [CountyName], [AddedDateT], [AddedUserCode], [LastUpdatedDateT], [LastUpdatedUserCode]) VALUES (N'AK ', N'001', N'Aleutian Islands', CAST(0x00009EB700B7A15F AS DateTime), N'COUNTYCODEBACKFILL            ', NULL, NULL)
INSERT [dbo].[County] ([StateCode], [CountyCode], [CountyName], [AddedDateT], [AddedUserCode], [LastUpdatedDateT], [LastUpdatedUserCode]) VALUES (N'AK ', N'002', N'Aleutians East', CAST(0x00009EB700B7A15F AS DateTime), N'COUNTYCODEBACKFILL            ', NULL, NULL)
INSERT [dbo].[County] ([StateCode], [CountyCode], [CountyName], [AddedDateT], [AddedUserCode], [LastUpdatedDateT], [LastUpdatedUserCode]) VALUES (N'AK ', N'003', N'Aleutians West', CAST(0x00009EB700B7A164 AS DateTime), N'COUNTYCODEBACKFILL            ', NULL, NULL)
GO
ALTER TABLE [dbo].[County]  WITH CHECK ADD  CONSTRAINT [FK_County_State] FOREIGN KEY([StateCode])
REFERENCES [dbo].[State] ([StateCode])
GO
ALTER TABLE [dbo].[County] CHECK CONSTRAINT [FK_County_State]
GO
