USE [Common]
GO
/****** Object:  Table [dbo].[EditCode]    Script Date: 7/29/2014 2:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EditCode](
	[Program] [varchar](10) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[SubCategory] [varchar](50) NOT NULL,
	[EditCode] [varchar](50) NOT NULL,
	[EditValue] [nvarchar](50) NOT NULL,
	[EditDesc] [varchar](250) NOT NULL,
	[HighOrderDispl] [int] NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserID] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_EditCode] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[Category] ASC,
	[SubCategory] ASC,
	[EditCode] ASC,
	[EditValue] ASC,
	[EditDesc] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EditCode] ([Program], [Category], [SubCategory], [EditCode], [EditValue], [EditDesc], [HighOrderDispl], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'AHO', N'CheckOverride', N'642626238', N'Policy', N'Addr', N'P.O. Box 753||Opelousas|LA|70571-0753|Imperial Fire and Casualty Insurance Company|', NULL, N'B', CAST(0x00009E5E00000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.burger', CAST(0x00009FFD00ED3DF5 AS DateTime))
INSERT [dbo].[EditCode] ([Program], [Category], [SubCategory], [EditCode], [EditValue], [EditDesc], [HighOrderDispl], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'AHO', N'CheckOverride', N'886270826', N'Policy', N'Addr', N'P.O. Box 753||Opelousas|LA|70571-0753|Imperial Fire and Casualty Insurance Company|', NULL, N'B', CAST(0x00009E5E00000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'kevin.burger', CAST(0x00009FFD00ED3DF5 AS DateTime))
INSERT [dbo].[EditCode] ([Program], [Category], [SubCategory], [EditCode], [EditValue], [EditDesc], [HighOrderDispl], [AppliesToCode], [EffDate], [ExpDate], [UserID], [SystemTS]) VALUES (N'ALL', N'ACTIVE', N'PRODUCT', N'117', N'117', N'LA - Home', 1, N'B', CAST(0x00009C4000000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'matt.price', CAST(0x00009C40009C7525 AS DateTime))
GO
