USE [Common]
GO
/****** Object:  Table [dbo].[CompanyInfo]    Script Date: 7/29/2014 2:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyInfo](
	[ServiceCompanyName] [varchar](50) NOT NULL,
	[ServiceCompanyAddress] [varchar](100) NOT NULL,
	[ServiceCompanyCity] [varchar](100) NOT NULL,
	[ServiceCompanyStateCode] [varchar](3) NOT NULL,
	[ServiceCompanyZip] [varchar](15) NOT NULL,
	[ServiceCompanyPhone] [varchar](20) NULL,
	[ServiceCompanyClaimsPhone] [varchar](20) NULL,
	[ServiceCompanyAccountingName] [varchar](30) NULL,
	[ServiceCompanyAccountingExtension] [varchar](4) NULL,
	[ProgramCode] [varchar](3) NOT NULL,
	[ProgramState] [char](3) NULL,
	[TIN] [char](15) NULL,
	[NAIC] [char](15) NULL,
	[ServiceCompanyProcessByName] [varchar](50) NULL,
	[ProgramName] [varchar](40) NULL,
	[ServiceCompanyPhysicalAddress] [varchar](100) NULL,
	[ServiceCompanyPhysicalCity] [varchar](100) NULL,
	[ServiceCompanyPhysicalStateCode] [varchar](50) NULL,
	[ServiceCompanyPhysicalZip] [varchar](15) NULL,
	[StateSpecificCoNo] [varchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
