USE [Common]
GO
/****** Object:  Table [dbo].[DataFixControl]    Script Date: 7/27/2014 2:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DataFixControl](
	[ProcessName] [varchar](50) NULL,
	[ProcessDate] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
