USE [Common]
GO
/****** Object:  Table [dbo].[PASDailyPolicies]    Script Date: 7/27/2014 2:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PASDailyPolicies](
	[PolicyID] [varchar](50) NOT NULL,
	[DailyType] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
