USE [Common]
GO
/****** Object:  Table [dbo].[StateInfo]    Script Date: 7/29/2014 2:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StateInfo](
	[Program] [varchar](10) NOT NULL,
	[ItemGroup] [varchar](50) NOT NULL,
	[ItemCode] [varchar](50) NOT NULL,
	[ItemSubCode] [varchar](50) NOT NULL,
	[ItemValue] [varchar](max) NOT NULL,
	[AppliesToCode] [varchar](1) NOT NULL,
	[EffDate] [datetime] NOT NULL,
	[ExpDate] [datetime] NOT NULL,
	[UserId] [varchar](25) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_StateInfo] PRIMARY KEY CLUSTERED 
(
	[Program] ASC,
	[ItemGroup] ASC,
	[ItemCode] ASC,
	[ItemSubCode] ASC,
	[AppliesToCode] ASC,
	[EffDate] ASC,
	[ExpDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[StateInfo] ([Program], [ItemGroup], [ItemCode], [ItemSubCode], [ItemValue], [AppliesToCode], [EffDate], [ExpDate], [UserId], [SystemTS]) VALUES (N'ALL', N'ACTIVE', N'PRODUCT', N'117', N'true', N'B', CAST(0x00009D8800000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'dan.smith', CAST(0x00009DA501185028 AS DateTime))
INSERT [dbo].[StateInfo] ([Program], [ItemGroup], [ItemCode], [ItemSubCode], [ItemValue], [AppliesToCode], [EffDate], [ExpDate], [UserId], [SystemTS]) VALUES (N'ALL', N'ACTIVE', N'PRODUCT', N'142', N'true', N'B', CAST(0x00009D8800000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'dan.smith', CAST(0x00009DA501185028 AS DateTime))
INSERT [dbo].[StateInfo] ([Program], [ItemGroup], [ItemCode], [ItemSubCode], [ItemValue], [AppliesToCode], [EffDate], [ExpDate], [UserId], [SystemTS]) VALUES (N'ALL', N'ACTIVE', N'PRODUCT', N'202', N'true', N'B', CAST(0x00009D8800000000 AS DateTime), CAST(0x0000D76F00000000 AS DateTime), N'dan.smith', CAST(0x00009DA501185028 AS DateTime))
GO
