USE [Common]
GO
/****** Object:  Table [dbo].[BatchScheduleDetails]    Script Date: 7/29/2014 2:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BatchScheduleDetails](
	[ID] [numeric](18, 0) NOT NULL,
	[SubID] [numeric](18, 0) NOT NULL,
	[Process] [varchar](50) NOT NULL,
	[SubDescription] [nvarchar](250) NULL,
	[BatchType] [varchar](50) NOT NULL,
	[Product] [varchar](50) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[Arguments] [varchar](250) NOT NULL,
	[System] [varchar](50) NULL,
	[ExpectedRunTime] [int] NULL,
	[UserID] [varchar](50) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_BatchScheduleDetails] PRIMARY KEY CLUSTERED 
(
	[SubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BatchScheduleDetails] ([ID], [SubID], [Process], [SubDescription], [BatchType], [Product], [State], [Arguments], [System], [ExpectedRunTime], [UserID], [SystemTS]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'Print', N'LA PPA Mail Covers', N'Print', N'2', N'17', N'MsgType=PRINT^MsgSubType=MC^Product=2^StateCode=17^', N'Batch', 120, N'shaun.herschbach', CAST(0x00009C4F00AD3A1E AS DateTime))
INSERT [dbo].[BatchScheduleDetails] ([ID], [SubID], [Process], [SubDescription], [BatchType], [Product], [State], [Arguments], [System], [ExpectedRunTime], [UserID], [SystemTS]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), N'Print', N'LA PPA DecPages', N'Print', N'2', N'17', N'MsgType=PRINT^MsgSubType=DEC^Product=2^StateCode=17^', N'Batch', 120, N'shaun.herschbach', CAST(0x00009C4F00AD4F3F AS DateTime))
INSERT [dbo].[BatchScheduleDetails] ([ID], [SubID], [Process], [SubDescription], [BatchType], [Product], [State], [Arguments], [System], [ExpectedRunTime], [UserID], [SystemTS]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), N'Print', N'TX PPA DecPages', N'Print', N'2', N'42', N'MsgType=PRINT^MsgSubType=DEC^Product=2^StateCode=42^', N'Batch', 120, N'shaun.herschbach', CAST(0x00009C4F00AD59B9 AS DateTime))
GO
