USE [Common]
GO
/****** Object:  Table [dbo].[DriverIncidentType]    Script Date: 7/27/2014 2:29:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DriverIncidentType](
	[DriverIncidentTypeCode] [char](10) NOT NULL,
	[DriverIncidentTypeDesc] [varchar](90) NULL,
	[DriverIncidentTypeInd] [char](1) NULL,
	[LiabilityIncidentPoints] [numeric](4, 0) NULL,
	[PhysDamageIncidentPoints] [numeric](4, 0) NULL,
	[AddedDateT] [datetime] NULL,
	[AddedUserCode] [char](30) NULL,
	[LastUpdatedDateT] [datetime] NULL,
	[LastUpdatedUserCode] [char](30) NULL,
	[DriverIncidentCategoryCode] [char](3) NULL,
	[ExternalIncidentTypeCodes] [varchar](50) NULL,
 CONSTRAINT [PK_DriverIncidentType] PRIMARY KEY CLUSTERED 
(
	[DriverIncidentTypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DriverIncidentType] ([DriverIncidentTypeCode], [DriverIncidentTypeDesc], [DriverIncidentTypeInd], [LiabilityIncidentPoints], [PhysDamageIncidentPoints], [AddedDateT], [AddedUserCode], [LastUpdatedDateT], [LastUpdatedUserCode], [DriverIncidentCategoryCode], [ExternalIncidentTypeCodes]) VALUES (N'11105     ', N'DRIVING WHILE LICENSE IS SUSPENDED/REVOKED/DENIED/DISQUALIFIED/CANCELLED RESULTING IN AN A', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'MAJ', N'11105     ')
INSERT [dbo].[DriverIncidentType] ([DriverIncidentTypeCode], [DriverIncidentTypeDesc], [DriverIncidentTypeInd], [LiabilityIncidentPoints], [PhysDamageIncidentPoints], [AddedDateT], [AddedUserCode], [LastUpdatedDateT], [LastUpdatedUserCode], [DriverIncidentCategoryCode], [ExternalIncidentTypeCodes]) VALUES (N'11110     ', N'RECKLESS DRIVING, WILLFUL AND WANTON DISREGARD', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'MAJ', N'11110     ')
INSERT [dbo].[DriverIncidentType] ([DriverIncidentTypeCode], [DriverIncidentTypeDesc], [DriverIncidentTypeInd], [LiabilityIncidentPoints], [PhysDamageIncidentPoints], [AddedDateT], [AddedUserCode], [LastUpdatedDateT], [LastUpdatedUserCode], [DriverIncidentCategoryCode], [ExternalIncidentTypeCodes]) VALUES (N'11120     ', N'RECKLESS DRIVING REDUCED FROM  DRIVING UNDER INFLUENCE', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'MAJ', N'11120     ')
GO
ALTER TABLE [dbo].[DriverIncidentType]  WITH CHECK ADD  CONSTRAINT [FK_DriverIncidentType_Category] FOREIGN KEY([DriverIncidentCategoryCode])
REFERENCES [dbo].[DriverIncidentCategory] ([DriverIncidentCategoryCode])
GO
ALTER TABLE [dbo].[DriverIncidentType] CHECK CONSTRAINT [FK_DriverIncidentType_Category]
GO
