USE [Common]
GO
/****** Object:  Table [dbo].[BatchScheduleSuspense]    Script Date: 7/29/2014 2:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BatchScheduleSuspense](
	[SuspenseID] [int] IDENTITY(1,1) NOT NULL,
	[JobID] [numeric](18, 0) NOT NULL,
	[SuspenseDate] [datetime] NOT NULL,
	[SuspenseReason] [varchar](500) NOT NULL,
	[SuspendedByUser] [nchar](50) NOT NULL,
	[SuspendedTS] [datetime] NOT NULL,
	[ReactivationReason] [varchar](500) NULL,
	[ReactivatedByUser] [varchar](50) NULL,
	[ReactivatedTS] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BatchScheduleSuspense] ON 

INSERT [dbo].[BatchScheduleSuspense] ([SuspenseID], [JobID], [SuspenseDate], [SuspenseReason], [SuspendedByUser], [SuspendedTS], [ReactivationReason], [ReactivatedByUser], [ReactivatedTS]) VALUES (1, CAST(25 AS Numeric(18, 0)), CAST(0x00009E5D00000000 AS DateTime), N'Test to ensure proper performance on production', N'Shaun Herschbach                                  ', CAST(0x00009E5D00D9D887 AS DateTime), N'Reinstate test suspension', N'SH3443', CAST(0x00009E5D00E1523C AS DateTime))
INSERT [dbo].[BatchScheduleSuspense] ([SuspenseID], [JobID], [SuspenseDate], [SuspenseReason], [SuspendedByUser], [SuspendedTS], [ReactivationReason], [ReactivatedByUser], [ReactivatedTS]) VALUES (2, CAST(23 AS Numeric(18, 0)), CAST(0x00009E6800000000 AS DateTime), N'Suspend for First run of AR in automated Daily', N'Shaun Herschbach                                  ', CAST(0x00009E68010302DF AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[BatchScheduleSuspense] ([SuspenseID], [JobID], [SuspenseDate], [SuspenseReason], [SuspendedByUser], [SuspendedTS], [ReactivationReason], [ReactivatedByUser], [ReactivatedTS]) VALUES (3, CAST(316 AS Numeric(18, 0)), CAST(0x00009E6800000000 AS DateTime), N'Suspend for First run of AR in automated Daily (Per Stacey & Mindy''s request)', N'Shaun Herschbach                                  ', CAST(0x00009E6801039764 AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[BatchScheduleSuspense] OFF
