USE [Common]
GO
/****** Object:  Table [dbo].[SecureEntry]    Script Date: 7/27/2014 2:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SecureEntry](
	[Token] [bigint] IDENTITY(1,1) NOT NULL,
	[Cipher] [varchar](max) NOT NULL,
	[ExpirationDate] [datetime] NULL,
 CONSTRAINT [PK_SecureEntry2] PRIMARY KEY CLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
