USE [Common]
GO
/****** Object:  Table [dbo].[BatchSchedule]    Script Date: 7/29/2014 2:57:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BatchSchedule](
	[ID] [numeric](18, 0) NOT NULL,
	[Process] [varchar](50) NOT NULL,
	[Description] [varchar](150) NULL,
	[ExecutableName] [varchar](150) NOT NULL,
	[ExeFilePath] [varchar](150) NOT NULL,
	[System] [varchar](50) NULL,
	[UserID] [varchar](50) NOT NULL,
	[SystemTS] [datetime] NOT NULL,
 CONSTRAINT [PK_BatchSchedule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BatchSchedule] ([ID], [Process], [Description], [ExecutableName], [ExeFilePath], [System], [UserID], [SystemTS]) VALUES (CAST(1 AS Numeric(18, 0)), N'Print', N'Print Process', N'PrintProcess', N'C:\BatchApps\Daily\PrintProcess', N'Batch', N'shaun.herschbach', CAST(0x00009C4F00AC63B7 AS DateTime))
INSERT [dbo].[BatchSchedule] ([ID], [Process], [Description], [ExecutableName], [ExeFilePath], [System], [UserID], [SystemTS]) VALUES (CAST(2 AS Numeric(18, 0)), N'Mail', N'Mail Process', N'MailProcess', N'C:\BatchApps\Daily\MailProcess', N'Batch', N'shaun.herschbach', CAST(0x00009CA100B4CB0F AS DateTime))
INSERT [dbo].[BatchSchedule] ([ID], [Process], [Description], [ExecutableName], [ExeFilePath], [System], [UserID], [SystemTS]) VALUES (CAST(3 AS Numeric(18, 0)), N'Done', N'Send Done.txt Process', N'DMPDoneDocProc', N'C:\BatchApps\Daily\DMPDoneDocProc', N'Batch', N'shaun.herschbach', CAST(0x00009CA100B4CB14 AS DateTime))
