<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="Dev" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ConnStr" value="Data Source=Dalsqldevcs01\Sql01;Persist Security Info=True;User ID=AppUser;Password=AppU$er" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PASConnStr" value="Data Source=Dalsqldevcs01\Sql01;Initial Catalog=PasCarrier;Persist Security Info=True;User ID=AppUser;Password=AppU$er" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IsTest" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MarketingCRMService.MarketingCRMService" value="http://devbsl.imperialfire.com/MarketingCRMService/MarketingCRMService.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DLNService.DLNService" value="http://devbsl.imperialfire.com/DLNService/DLNService.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="VINServiceURL" value="http://devbsl.imperialfire.com:91/VINService/VINService.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=Dalsqldevcs01\Sql01;Initial Catalog=ImperialFireUAT;Persist Security Info=True;User ID=AppUser;Password=AppU$er" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <applicationSettings>
    <RatingRulesService2.My.MySettings xdt:Transform="Replace">
      <setting name="RatingRulesService2_DLNService_DLNService" serializeAs="String">
        <value>http://devbsl.imperialfire.com/DLNService/DLNService.asmx</value>
      </setting>
      <setting name="RatingRulesService2_gov_weather_www_ndfdXML" serializeAs="String">
        <!-- <value>http://www.weather.gov/forecasts/xml/SOAP_server/ndfdXMLserver.php</value> -->
        <value>http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php</value>
      </setting>
      <setting name="RatingRulesService2_MarketingCRMService_MarketingCRMService" serializeAs="String">
        <value>http://devbsl.imperialfire.com/MarketingCRMService/MarketingCRMService.asmx</value>
      </setting>
    </RatingRulesService2.My.MySettings>
  </applicationSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>