<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ConnStr" value="Data Source=Dalsqltstcs01\Sql02;Persist Security Info=True;User ID=AppUser;Password=AppU$er" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BaseLogFilePath" value="C:\Work\ " xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>