<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WeatherOverrideDate" value=""/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVinService" />
                <binding name="BasicHttpBinding_IVehDrvAssignmentService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vinservicewr.cloudapp.net/VinService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVinService"
                contract="VINService.IVinService" name="BasicHttpBinding_IVinService" />            
            <endpoint address="http://vehdrvassignmentwr.cloudapp.net/VehDrvAssignment.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVehDrvAssignmentService"
                contract="VehicleDriverAssignmentService.IVehDrvAssignmentService"
                name="BasicHttpBinding_IVehDrvAssignmentService" />
        </client>
    </system.serviceModel>
</configuration>